/* General styling */

body {
    background: whitesmoke;
    font-family: 'Poiret One', cursive;
    color: rgb(71, 73, 75);
}

.footer_info {
    position: fixed; 
    bottom: 0%;
    width:100%;
    color: whitesmoke;
    font-size: 0.8rem;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Custom NavBar  */

.navbar {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0;
    border-bottom: groove 1px whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Dropdown */

.dropdown-menu {
    background: rgba(0, 0, 0, 0.5);
}

.dropdown-item {
    color: whitesmoke;
}

.dropdown-item:hover {
    background: whitesmoke;
}

.dropdown-item:hover:focus {
    background: slategray;
}

/* Logos */

.mr-6 {
    margin-right: 80%;
}

.fa-instagram,
.fa-envelope-o {
    font-size: 1.3rem;
}

.fa-instagram:hover,
.fa-envelope-o:hover {
    color: rgba(255,255,255,.8);
}

/* Language link */

#language a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

#language a:hover {
    color: whitesmoke;
}

/* Toggler animation */

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: whitesmoke;
	display: block;
	transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.dropdown:focus,
.dropdown:active,
.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}
 
.navbar-toggler {
    border: none;
    background: transparent;
    margin-bottom: 1%;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
   
.navbar-toggler .middle-bar {
    opacity: 0;
}
   
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
   
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
   
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
   
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* Presentation home */

.intro_text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
}

#intro_h1 {
    font-size: 6vw;
    margin: 0;
}

#intro_h2 {
    font-size: 4vw;
    margin: 0;
}

/* Custom hr */

.hr_1 { 
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.75), rgba(245, 245, 245, 1)); 
}

.hr_2 { 
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0.75), rgba(245, 245, 245, 0)); 
}

.hr_icon {
    text-shadow: none;
    vertical-align: middle;
}

/* Background slideshow home - based on the project by craigraphics - https://github.com/craigraphics/css3-crossfade-image / MIT License */

.slideshow {
    list-style-type: none;
  }
  
.slideshow,
.slideshow:after { 
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0; 
  }
  
.slideshow li span { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}
  
.slideshow li:nth-child(1) span { 
    background-image: url("/Gallery/Gallery_0.jpg");
}
.slideshow li:nth-child(2) span { 
    background-image: url("/Gallery/Gallery_1.jpg");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("/Gallery/Gallery_2.jpg");
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("/Gallery/Gallery_3.jpg");   
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url("/Gallery/Gallery_4.jpg");
    animation-delay: 24s; 
}
  
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
  
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
  
.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

/* About */

.photo_about {
    background-image: url(/About/Karolina.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}

.text_about_h2 {
    font-size: 30px;
}

.text_about_contact {
    font-size: 20px;
    margin-bottom: 2%;
}

.contact_icons {
    letter-spacing: 10px;
    margin-left: 2%;
}

.contact_icons a {
    color: slategray;
}

.contact_icons a:hover {
    color:rgb(12, 28, 44);
}

.contact_icons a:focus {
    color: rgb(187, 184, 184);
}

/* Portfolio */

.text_portfolio {
    font-size: 1rem;
    color: black;
    font-style: italic;
}

/* Cover photos portfolio */

.cover_photo_portrait {
    background-image: url(/Portfolio/Portraits/Photo1.jpg);
    height: 40vh;
    background-size: cover;
    background-position: 50% 20%;
}

.cover_photo_mom_baby {
    background-image: url(/Portfolio/Mom_Baby/Photo1.jpg);
    height: 40vh;
    background-size: cover;
    background-position: 50% 20%;
}

.cover_photo_family {
    background-image: url(/Portfolio/Family/Photo1.jpg);
    height: 40vh;
    background-size: cover;
    background-position: 50% 20%;
}

.cover_photo_artistic {
    background-image: url(/Portfolio/Artistic/Photo1.jpg);
    height: 40vh;
    background-size: cover;
    background-position: 50% 20%;
}

.cover_photo_landscape {
    background-image: url(/Portfolio/Landscape/Photo1.jpg);
    height: 40vh;
    background-size: cover;
    background-position: 50% 20%;
}

.cover_photo_nature {
    background-image: url(/Portfolio/Nature/Photo1.jpg);
    height: 40vh;
    background-size: cover;
    background-position: 50% 20%;
}

/* Portfolio grid - based on the project Material Photo Gallery (https://github.com/micahstubbs/material-photo-gallery) MIT license */

.m-p-g {
    max-width: 100vw;
    margin: 0 auto;
  }
  .m-p-g__thumbs-img {
    margin: 0;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 0;
    filter: brightness(100%);
    -webkit-tap-highlight-color: transparent;
    will-change: opacity, transform;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__thumbs-img.active {
    z-index: 50;
  }
  .m-p-g__thumbs-img.layout-completed {
    opacity: 1;
  }
  .m-p-g__thumbs-img.hide {
    opacity: 0;
  }
  .m-p-g__thumbs-img:hover {
    filter: brightness(110%);
  }
  .m-p-g__fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: 0 0;
    visibility: hidden;
    transition: background 0.25s ease-out, visibility 10ms 0.5s linear;
    will-change: background, visibility;
    backface-visibility: hidden;
  }
  .m-p-g__fullscreen.active {
    transition: background 0.25s ease-out, visibility 0.01s 0s linear;
    visibility: visible;
    background: rgba(0, 0, 0, 0.95);
  }
  .m-p-g__fullscreen-img {
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    visibility: hidden;
    will-change: visibility;
    transition: opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.active {
    visibility: visible;
    opacity: 1 !important;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 0.5s ease-out;
  }
  .m-p-g__fullscreen-img.almost-active {
    opacity: 0;
    transform: translate3d(0, 0, 0) !important;
  }
  .m-p-g__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 20vh;
    background: linear-gradient(to top, transparent 0, rgba(0, 0, 0, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .m-p-g__controls-arrow,
  .m-p-g__controls-close {
    position: absolute;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .m-p-g__controls.active {
    opacity: 1;
    visibility: visible;
  }
  .m-p-g__controls-arrow,
  .m-p-g__controls-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: 0 0;
  }
  .m-p-g__controls-arrow:focus,
  .m-p-g__controls-close:focus {
    outline: 0;
  }
  .m-p-g__controls-arrow {
    z-index: 1;
    top: 0;
    width: 20%;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }
  .m-p-g__controls-arrow:hover {
    opacity: 1;
  }
  .m-p-g__controls-arrow--prev {
    left: 0;
    padding-left: 3vw;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .m-p-g__controls-arrow--next {
    right: 0;
    padding-right: 3vw;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .m-p-g__controls-close {
    top: 10vh;
    left: 3vw;
    z-index: 5;
  }
  .m-p-g__btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    transition: all 0.25s ease-out;
  }
  .m-p-g__btn:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .m-p-g__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    color: grey;
  }
  .m-p-g__alertBox h2 {
    color: red;
  }

  /*# sourceMappingURL=material-photo-gallery.css.map */
